/* like for sign up and login pages */
h1 {
    color: #333;
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

    input[type="checkbox"]:disabled {
        opacity: 0.5;
    }

.checkbox-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next row */
    gap: 10px; /* Add spacing between checkboxes */
}

    .checkbox-container label {
        text-align: left; /* Align labels to the left */
        margin-bottom: 10px; /* Add spacing below each checkbox */
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

label {
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 0.25rem;
}

.input-text {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

    .input-text:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    }

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

select {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #007bff;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.main-div {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Animated background layer */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #0056b3, #630098, #fa7a00, #8b3002, #1a1a1a);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    z-index: -1;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 75% 50%;
    }

    50% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}